
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:rgb(217, 166, 174);
    color: rgb(219, 226, 237);
  }
  
  header {
    background-color: #e8e1e1;
    color:black;
    text-align: center;
    padding: 20px;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color:black;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3 {
    color: black;
    margin-bottom: 10px;
  }
  
  p, ul {
    margin-bottom: 20px;
    color:#333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    padding: 5px 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  